$fontColor: #4F6983;
$mainColor: #504dc4;
$mainColorDark: #1E3148;
$accent: #FE6277;
$accentLight: #FF8149;

button {
  width: 100%;
  background: $accent !important;
  color: #fff !important;
  font-size: 20px !important;
}
.login-page {
  min-height: 100%;
  margin: 0;
  padding: 50px 0 0 0;
  background-image: linear-gradient(90deg, #1e3148, #504DC4);
  .contain-form {
    text-align: center;
    width: 750px;
    margin: 0px auto;
    border-radius: 10px;
    background: url('../../../../assets/images/slide1.png') center center/cover no-repeat;
    position: relative;
    overflow: hidden;
  }
  .contain-form::before {
    background-color: rgba(80, 77, 196, 0.4);
    content: " ";
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .login-form {
    background: #fff;
    padding: 40px 15px;
  }
  .head {
    margin: 15px 0 40px 0px;
  }
  .btn {
    margin-top: 20px;
  }
  .copy {
    font-size: 13px;
    margin-top: 30px;
  }
  .img {
    padding: 20% 15%;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
  .login-page {
      .contain-form {
          width: 90%;
      }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
  .login-page {
      .login-form {
          order: 2;
      }
      .img {
          order: 1;
          padding: 2% 0;
      }
      .contain-form {
          width: 50%;
      }
  }
}