<div class="container mt-5">
    <div class="doctor-container">
        <div class="title">
            <h1>Our Best Doctors</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="box">
                    <div class="top">
                        <img src="../../../../assets/images/slide1.png">
                    </div>
                    <div class="bottom mb-2">
                        <h5>Prod. Zahraa</h5>
                        <p>Computer</p>
                        <p>Faculty of science</p>
                    </div>
                    <div class="info mt-4 mb-3">
                        <p>
                            <fa-icon [icon]='faUsers'></fa-icon> 100 Students
                        </p>
                        <p>
                            <fa-icon [icon]='faTable'></fa-icon> 15 Courses
                        </p>
                    </div>
                    <div class="rate">
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <span>(151+)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="top">
                        <img src="../../../../assets/images/slide1.png">
                    </div>
                    <div class="bottom mb-2">
                        <h5>Prod. Zahraa</h5>
                        <p>Computer</p>
                        <p>Faculty of science</p>
                    </div>
                    <div class="info mt-4 mb-3">
                        <p>
                            <fa-icon [icon]='faUsers'></fa-icon> 100 Students
                        </p>
                        <p>
                            <fa-icon [icon]='faTable'></fa-icon> 15 Courses
                        </p>
                    </div>
                    <div class="rate">
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <span>(151+)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="top">
                        <img src="../../../../assets/images/slide1.png">
                    </div>
                    <div class="bottom mb-2">
                        <h5>Prod. Zahraa</h5>
                        <p>Computer</p>
                        <p>Faculty of science</p>
                    </div>
                    <div class="info mt-4 mb-3">
                        <p>
                            <fa-icon [icon]='faUsers'></fa-icon> 100 Students
                        </p>
                        <p>
                            <fa-icon [icon]='faTable'></fa-icon> 15 Courses
                        </p>
                    </div>
                    <div class="rate">
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <fa-icon [icon]='faStar'></fa-icon>
                        <span>(151+)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>