<div class="profile-page m-4">
    <div class="my-schedule">
        <div class="schedule-head">
            <h1>My Schedule</h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="schedule-element act">
                    <a href="">Today</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="schedule-element">
                    <a href="">Tomorrow</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="schedule-element">
                    <a href="">22-12</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="schedule-element">
                    <a href="">23-12</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="schedule-element icon">
                    <a href="">25-12</a>
                </div>
            </div>
        </div> <!-- end of row  -->
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Time</th>
                        <th>Duration</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#243 The fundamental of Math 1</td>
                        <td>6:30 PM</td>
                        <td>2 hours</td>
                        <td> <span class="end">Ended</span></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 2</td>
                        <td>9:30 PM</td>
                        <td>1.5 hours</td>
                        <td><button class="start-btn">started</button></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 3</td>
                        <td>11:00 PM</td>
                        <td>3 hours</td>
                        <td>Upcoming</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="my-tasks">
        <div class="tasks-head">
            <h1>My Tasks</h1>
            <a href="">SEE ALL</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Task name</th>
                        <th>Coure name</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active-task">
                        <td>Task 1 - Introduction to math</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>10–9-2019</td>
                    </tr>
                    <tr>
                        <td>Task 2 - Calculations</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>13-9-2019</td>
                    </tr>
                    <tr>
                        <td>Task 3 - Definitions and questions</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>12-11-2019</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="my-sheets">
        <div class="sheets-head">
            <h1>My Sheets</h1>
            <a href="">SEE ALL</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sheet name</th>
                        <th>Coure name</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active-sheet">
                        <td>Sheet 1 - Introduction to math</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>10–9-2019</td>
                    </tr>
                    <tr>
                        <td>Sheet 2 - Calculations</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>13-9-2019</td>
                    </tr>
                    <tr>
                        <td>Sheet 3 - Definitions and questions</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>12-11-2019</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="my-coming-exam">
        <div class="exam-head">
            <h1>Upcoming Exams</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Exam name</th>
                        <th>Date</th>
                        <th>Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#243 The fundamental of Math 1</td>
                        <td>Midterm</td>
                        <td>15-10-2019</td>
                        <td>H 1011</td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 2</td>
                        <td>Practical</td>
                        <td>12-11-2019 </td>
                        <td>H 1201</td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 3</td>
                        <td>Final</td>
                        <td>05-12-2019</td>
                        <td>H 1025</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="my-groups">
        <div class="group-head">
            <h1>My Groups</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Doctor Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#243 The fundamental of Math 1</td>
                        <td>Dr. Zahraa</td>
                        <td>Start Conversation</td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 2</td>
                        <td>Dr. Zahraa</td>
                        <td><button class="message-btn">New Message</button></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 3</td>
                        <td>Dr. Zahraa</td>
                        <td>Start Conversation</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>