<div class="course-details">
  <div class="row top p-5">
    <div class="col-md-8">
      <h1>#243 The fundamental of Math 1</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s, when an unknown printer took a galley of type and scrambled.
      </p>
      <div class="rate">
        <fa-icon [icon]='faStar'></fa-icon>
        <fa-icon [icon]='faStar'></fa-icon>
        <fa-icon [icon]='faStar'></fa-icon>
        <fa-icon [icon]='faStar' class="empety-star"></fa-icon>
        <fa-icon [icon]='faStar' class="empety-star"></fa-icon>
        <span>3.0 (100+ Ratings)</span>
      </div>
      <div class="info">
        <p>Course Hours <b>3</b> |</p>
        <p> <b>33,872</b> students enrolled | </p>
        <p>Teached by <b>Dr. John Doe</b> </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="../../../assets/images/slide1.png" alt="Dr Zahraa">
    </div>
  </div><!-- end of row -->
  <!-- start of tabs -->
  <mat-tab-group>
    <mat-tab label="ABOUT">
      <div class="about p-4 pb-5">
        <div class="about-top p-4 ">
          <h1>What you will learn</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled.
          </p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled.
          </p>
        </div>
        <div class="about-bottom p-4 mt-4">
          <div class="row">
            <div class="col-md-2">
              <img src="../../../assets/images/slide1.png" alt="Dr Zahraa">
              <h6>
                <fa-icon [icon]='faUsers'></fa-icon> 25,000 students
              </h6>
              <h6>
                <fa-icon [icon]='faUsers'></fa-icon> 19 courses
              </h6>
              <h6 class="bottom-rate">
                <fa-icon [icon]='faStar'></fa-icon>
                <fa-icon [icon]='faStar'></fa-icon>
                <fa-icon [icon]='faStar'></fa-icon>
                <fa-icon [icon]='faStar' class="empety-star"></fa-icon>
                <fa-icon [icon]='faStar' class="empety-star"></fa-icon>
                <span class="rate-num">(10+)</span>
              </h6>
            </div>
            <div class="col-md-8">
              <h1>Dr. John Doe</h1>
              <h5>Math 1</h5>
              <h5>Faculty of Science</h5>
              <P>Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of
                type and scrambled.
              </P>
            </div>
            <div class="col-md-2">
              <button class="profile-btn">Go to profile</button>
            </div>
          </div> <!-- end of row -->
        </div>
      </div>
    </mat-tab>
    <mat-tab label="LECTURES">
      <!-- *** start of tap lectures *** -->
      <div class="lec p-4">
        <div class="lec-top p-4">
          <h1>Content Description</h1>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled. </p>
          <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled. </p>
        </div> <!-- start of collapse -->
        <div id="accordion">
          <div class="card mt-4 ">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#sessionOne">
                <span>Session 1</span> <button class="download">Download</button>
              </a>
            </div>
            <div id="sessionOne" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled.
                </p>
              </div>
            </div>
          </div>
          <!-- seconde lec -->
          <div class="card mt-4 ">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#sessionTwo">
                <span>Session 2</span><button class="download">Download</button>
              </a>
            </div>
            <div id="sessionTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled.
                </p>
              </div>
            </div>
          </div>
          <!-- 3 rd lec -->
          <div class="card mt-4 ">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#sessionThree">
                <span>Session 3</span> <button class="download">Download</button>
              </a>
            </div>
            <div id="sessionThree" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                  been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                  type and scrambled.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="SHEETS">
      <div class="sheets p-4">
        <div class="sheet-top">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Sheet</th>
                <th>Date</th>
                <th>Marks</th>
                <th>Grade</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Editorail</td>
                <td>20/11/2019</td>
                <td>30</td>
                <td>27</td>
                <td>Pass</td>
              </tr>
              <tr>
                <td>Oral</td>
                <td>30/10/2019</td>
                <td>40</td>
                <td>33</td>
                <td>Pass</td>
              </tr>
              <tr>
                <td>Practical</td>
                <td>15/10/2019</td>
                <td>60</td>
                <td>22</td>
                <td>Fail</td>
              </tr>
              <tr>
                <td>Sheet 2</td>
                <td>5/9/2019</td>
                <td>10</td>
                <td>3</td>
                <td>Fail</td>
              </tr>
              <tr>
                <td>Sheet 1</td>
                <td>1/9/2019</td>
                <td>10</td>
                <td>4</td>
                <td>Fail</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="sheet-bottom mb-5">
          <span>Total grade 89 - 150</span>
          <span class="result">Pass</span>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="TASKS">
      <div class="tasks p-4">
        <div class="tasks-top">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Sheet</th>
                <th>Date</th>
                <th>Marks</th>
                <th>Grade</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Task 4</td>
                <td>21/11/2019</td>
                <td>10</td>
                <td>...</td>
                <td><button class="upload-btn">Upload </button></td>
              </tr>
              <tr>
                <td>Task 3</td>
                <td>20/10/2019</td>
                <td>10</td>
                <td>...</td>
                <td>In Review</td>
              </tr>
              <tr>
                <td>Task 2</td>
                <td>30/9/2019 </td>
                <td>5</td>
                <td>5</td>
                <td>Pass</td>
              </tr>
              <tr>
                <td>Task 1</td>
                <td>15/9/2019 </td>
                <td>15</td>
                <td>7</td>
                <td>Fail</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>