$primary: #504dc4;
$primary_dark: #1e3148;
$accent: #fe6277;
$accent_light: #ff8149;
$footer: #1b1b1b;
$footer_text: #0ac0ff;
$title_text: #1e3148;
$text_fields: #edf4f5;
$background: #e0e0e0;
// start of top
.top {
  height: 100%;
  background-image: linear-gradient(90deg, $primary_dark, $primary);
  color: $text_fields;
  width: 100%;
  margin: 0;
}
.top-left {
  padding-right: 2rem;
}
.top img {
  width: 100%;
  height: 55vh;
  padding: 30px;
  border-radius: 50px;
}
.top h1 {
  font-size: 45px;
  font-weight: 500;
  margin: 30px 0 30px 0;
}
.top p,
span {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}
.info span {
  padding: 0 5px 0 0;
}
// end of top
// start of about
.about {
  background-color: $background;
}
.about-top {
  background-color: #fff;
}
.about-top h1 {
  color: $title_text !important;
  font-size: 30px;
  margin-bottom: 20px;
}
.about-bottom {
  background-color: #fff;
  height: 100%;
}
.about-top p {
  color: $title_text;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 3rem;
    padding-right: 4rem;
}
.about-bottom img {
  width: 85%;
  border-radius: 10px;
  margin-bottom: 1rem;
  object-fit: cover;
}
.about-bottom h6 {
  color: #838997;
  font-weight: 300;
  margin-left: 5px;
}
.bottom-rate fa-icon,
.rate-num {
  color: $accent;
  padding: 0 1px 0 0;
  font-size: 17px;
}
.about-bottom h1 {
  color: $title_text;
  margin-bottom: 1.2rem;
  font-size: 30px;
}
.about-bottom p {
  color: $title_text;
  padding-right: 10rem;
  line-height: 23px;
  font-weight: 500;
  margin: 1.2rem 0 1rem 0;
  font-size: 16px;
}
.about-bottom h5 {
  color: #212529;
  font-weight: 400;
  margin-bottom: 1px;
  font-size: 18px;

}
.profile-btn {
  float: right;
  background-image: linear-gradient(90deg, $accent, $accent_light);
  color: #fff;
  border: 0;
  border-radius: 15px;
  padding: 14px;
  margin: 7px 10px 0 0;
}
.profile-btn:hover {
  background-image: linear-gradient(90deg, #fff, #fafafa);
  color: $accent;
  border: 2px solid $accent;
}
.myapp-no-padding-dialog .mat-dialog-container {
  padding: 25px;
  background-color: aqua;
}
// start of courses
.courses {
  background-color: #e0e0e0;
}
.courses-top {
  background-color: #fff;
}
.courses-top th {
  padding: 25px 20px 25px 30px;
  font-size: 28px;
  font-weight: 400;
}
thead {
  margin-bottom: 20px;
}
tbody td {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  font-size: 20px;
  color: $title_text;
  font-weight: 500;
}
.courses-top th {
  padding: 25px 20px 25px 30px;
  font-size: 28px;
  font-weight: 400;
}
.courses-top thead {
  color: $text_fields;
  background-image: linear-gradient(90deg, $accent, $accent_light);
}
.courses-top th {
  padding: 25px 20px 25px 30px;
  font-size: 28px;
  font-weight: 400;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  .top {
    img {
      padding: 10px;
    }
    h1 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
    }
  }
  .about-bottom {
    .profile-btn {
      padding: 13px;
    }
    img {
      width: 100%;
    }
    h6 {
      font-size: 14px;
    }
    .bottom-rate fa-icon,
    span {
      font-size: 14px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .top {
    img {
      padding: 0;
      height: 45vh;
      width: 100%;
      margin: 15px;
    }
    h1 {
      font-size: 27px;
    }
    p {
      font-size: 16px;
    }
  }
  .about-top h1 {
    font-size: 27px;
  }
  .about-bottom {
    .profile-btn {
      padding: 5px 3px 5px 3px;
      font-size: 14px;
      margin-right: 0;
    }
    img {
      width: 100%;
    }
    p {
      padding-right: 0;
    }
    h1 {
      font-size: 27px;
    }
    h5 {
      font-size: 17px;
    }
    h6 {
      font-size: 10px;
    margin-bottom: 0.4rem;
    }
    .bottom-rate fa-icon,
    span {
      font-size: 10px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .top {
    img {
      padding: 2rem;
    height: 95%;
    width: 95%;
    margin: 15px;
    order: 1;
    text-align: center;
    }
    .top-left {
      order: 2;
    }
    h1 {
      font-size: 30px;
    }
  }
  .about-bottom {
    .profile-btn {
      padding: 10px;
      font-size: 20px;
      margin-right: 0;
      text-align: center;
      float: none;
      width: 75%;
    }
    .containe-btn {
      text-align: center;
      margin-top: 5rem;
    }
    img {
      width: 100%;
      padding: 15px 15px 15px 0;
      border-radius: 15px;
    }
    h6 {
      font-size: 16px;
    }
    h1 {
      margin-top: 20px;
    }
    .bottom-rate fa-icon,
    span {
      font-size: 16px;
    }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .top {
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
    
  }
  .about-bottom{ 
     img {
         width:50%;
    }
    .profile-btn {
      width: 95%;
    }
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .top {
    img {
      padding: 0rem;
     height: 100%;
     width: 100%;
     border-radius: 20px;
    }
    
    h1 {
      margin-top: 2rem;
      font-size: 22px;
    }
    p {
      font-size: 16px;
    }
  }
  .top-left {
    padding-right: 0;
  }
  .about-top p {
    padding-right: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 360px) {
  .top h1 ,
  .about-top h1,
  .about-bottom h1 {
    font-size: 20px;
  }
  .top p,
  .about-top p,
  .about-bottom p 
   {
    font-size: 15px;
  }
  .about-bottom img {
    width: 65%;
  }
  

  } 


/* Custom, iPhone Retina */
@media only screen and (max-width: 319px) {
}
