<div class="department-page">
    <div class="row top p-5">
        <div class="col-md-8 top-left">
            <h1>Computer Science</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the
                1500s, when an unknown printer took a galley of type and scrambled.
            </p>
            <div class="info">
                <p>Directed by <b>Dr. John Doe</b> </p>
                <span>Courses number <b>11</b></span>
                <span> | </span>
                <span><b>33,872</b> students</span>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/images/slide2.png" alt="Dr Zahraa">
        </div>
    </div><!-- end of row -->
    <!-- start of tabs -->
    <mat-tab-group>
        <mat-tab label="ABOUT">
            <div class="about p-4 pb-5">
                <div class="about-top p-4 ">
                    <h1>About department</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled.
                    </p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled.
                    </p>
                </div>
                <div class="about-bottom p-4 mt-4">
                    <div class="row">
                        <div class="col-md-2 col-sm-4">
                            <img src="../../../assets/images/john.png" alt="Dr Zahraa">
                            <h6>
                                <fa-icon [icon]='faUsers'></fa-icon> 25,000 students
                            </h6>
                            <h6>
                                <fa-icon [icon]='faUsers'></fa-icon> 19 courses
                            </h6>
                            <h6 class="bottom-rate">
                                <fa-icon [icon]='faStar'></fa-icon>
                                <fa-icon [icon]='faStar'></fa-icon>
                                <fa-icon [icon]='faStar'></fa-icon>
                                <fa-icon [icon]='faStar' class="empety-star"></fa-icon>
                                <fa-icon [icon]='faStar' class="empety-star"></fa-icon>
                                <span class="rate-num">(10+)</span>
                            </h6>
                        </div>
                        <div class="col-md-8  col-sm-8">
                            <h1>Dr. John Doe</h1>
                            <h5>Department directory</h5>
                            <h5>Faculty of Science</h5>
                            <P>Lorem Ipsum is simply dummy text of the printing
                                and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the
                                1500s, when an unknown printer took a galley of
                                type and scrambled.
                            </P>
                        </div>
                        <div class="col-md-2 col-sm-12 containe-btn">
                            <button class="profile-btn">Go to profile</button>
                        </div>
                    </div> <!-- end of row -->
                </div>
            </div>
        </mat-tab>
        <mat-tab label="COURSES">
            <div class="courses p-4">
                <div class="courses-top table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Doctor</th>
                                <th>Hours</th>
                                <th>Level</th>
                                <th>Semester</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Math 1</td>
                                <td>Dr. John Doe </td>
                                <td>3</td>
                                <td>...</td>
                                <td>First</td>
                            </tr>
                            <tr>
                                <td>Math 2</td>
                                <td>Dr. John Doe</td>
                                <td>4</td>
                                <td>1</td>
                                <td>Second</td>
                            </tr>
                            <tr>
                                <td>Math 3</td>
                                <td>Dr. John Doe</td>
                                <td>3</td>
                                <td>2</td>
                                <td>First</td>
                            </tr>
                            <tr>
                                <td>Math 4</td>
                                <td>Dr. John Doe </td>
                                <td>2</td>
                                <td>3</td>
                                <td>Seconde</td>
                            </tr>
                            <tr>
                                <td>Algorithms</td>
                                <td>Dr. John Doe</td>
                                <td>2</td>
                                <td>3</td>
                                <td>First</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>