<div class="container mt-5">
    <div class="collage-contain">
        <div class="title">
            <h1>Our Colleges</h1>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="box">
                    <div class="top">
                        <img src="../../../../assets/images/slide2.png">
                    </div>
                    <div class="bottom">
                        <h4>Faculty of science</h4>
                        <p>the Faculty of science at zagazig university is the largest in egypt</p>
                    </div>
                    <button class="btn-more">Learn More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="top">
                        <img src="../../../../assets/images/slide2.png">
                    </div>
                    <div class="bottom">
                        <h4>Faculty of science</h4>
                        <p>the Faculty of science at zagazig university is the largest in egypt</p>
                    </div>
                    <button class="btn-more">Learn More</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="top">
                        <img src="../../../../assets/images/slide2.png">
                    </div>
                    <div class="bottom">
                        <h4>Faculty of science</h4>
                        <p>the Faculty of science at zagazig university is the largest in egypt</p>
                    </div>
                    <button class="btn-more">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>