<div class="exams-page">
    <div class="my-coming-exam">
        <div class="exam-head">
            <h1>Upcoming Exams</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Exam name</th>
                        <th>Date</th>
                        <th>Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#243 The fundamental of Math 1</td>
                        <td>Midterm</td>
                        <td>15-10-2019</td>
                        <td>H 1011</td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 2</td>
                        <td>Practical</td>
                        <td>12-11-2019 </td>
                        <td>H 1201</td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 3</td>
                        <td>Final</td>
                        <td>05-12-2019</td>
                        <td>H 1025</td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 4</td>
                        <td>Final</td>
                        <td>12-12-2019</td>
                        <td>H 1050</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="">Previous</a></li>
                <li class="page-item"><a class="page-link" href="">1</a></li>
                <li class="page-item"><a class="page-link" href="">2</a></li>
                <li class="page-item"><a class="page-link" href="">3</a></li>
                <li class="page-item"><a class="page-link" href="">Next</a></li>
            </ul>
        </div>
    </div>
</div>