<section class="signup-page pt-4 pb-4">
     <div class="contain-form">
          <form>
               <div class="head">
                    <h1>Get Started</h1>
                    <p>Register as teacher or student at El-Modarag <br>to have access to your account.</p>
               </div>
               <div class="row form-group">
                    <div class="col-lg-6 form-element">
                         <input type="text" name="first name" placeholder="First name" class="form-input">
                    </div>
                    <div class="col-lg-6 form-element">
                         <input type="text" name="last name" placeholder="Last name" class="form-input">
                    </div>
                    <div class="col-lg-6 form-element ">
                         <input type="text" name="national id" placeholder="National id" class="form-input">
                    </div>
                    <div class="col-lg-6 form-element ">
                         <input type="email" name="email address" placeholder="Email adress" class="form-input">
                    </div>
                    <div class="col-lg-6 form-element ">
                         <input type="password" name="Password" placeholder="Password" class="form-input">
                    </div>
                    <div class="col-lg-6 form-element ">
                         <input type="password" name="confirm Password" placeholder="Confirm Password"
                              class="form-input">
                    </div>
                    <div class="col-lg-6 form-element ">
                         <input type="text" name="Date Of Birth" placeholder="Date Of Birth" class="form-input">
                    </div>
                    <div class="col-lg-6 form-element  ">
                         <span class="rigister">Rigister as</span>
                         <span class="input-radio">
                              <input type="radio" name="user" value="teacher">Teacher
                         </span>
                         <span class="input-radio">
                              <input type="radio" name="user" value="student"> Student
                         </span>
                    </div>
               </div> <!-- end of row  -->
               <div class="contain-btn">
                    <button type="button" class="create-btn" (click)="register()">Create account</button>
               </div>
               <div class="terms">
                    <p>By sign up to El-Modarg, you are accept our<br>
                         <b>Terms of user</b> and <b>Privacy policy.</b></p>
               </div>
          </form>
     </div>
</section>