<div class="account-page">
    <div class="my-account">
        <div class="account-head">
            <h1>Account</h1>
        </div>
        <div class="account-top">
            <img src="assets/images/john.png" class="img-responsive">
        </div>
        <div class="account-bottom">
            <form name="studentInfo">
                <div class="row form-group">
                    <div class="col-md-6 col-sm-12 form-element">
                        <input type="text" name="first name" placeholder="John" class="form-input">
                    </div>
                    <div class="col-md-6 col-sm-12 form-element">
                        <input type="text" name="last name" placeholder="Doe" class="form-input">
                    </div>
                    <div class="col-md-12 col-sm-12 form-element">
                        <input type="email" name="email address" placeholder="john2020@gmail.com" class="form-input">
                    </div>
                    <div class="col-md-12 col-sm-12 form-element">
                        <input type="text" name="phone number" placeholder="+201212134566" class="form-input">
                    </div>
                    <div class="col-md-12 col-sm-12 form-element">
                        <input type="text" name="birthday" placeholder="20-10-1996" class="form-input">
                    </div>
                    <div class="col-md-12 col-sm-12 form-element">
                        <button class="form-btn">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>