<div class="details-container mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3 col-5">
                <div class="left-box">
                    <h1>NEWS</h1>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-0"></div>
            <div class="col-md-9 col-sm-8 col-12">
                <div class="right-box">
                    <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when
                        looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    </p>
                    <span class="date">
                        5 OCT 2019
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="info">
                    <img src="../../../../assets/images/zagazigLogo.png">
                    <p>
                        Zagazig University is one of the educational institutions in Egypt. It includes colleges and
                        scientific institutes belonging to most branches of knowledge Humanity,
                        numbered 16 faculties and two institutes (civilizations - Asian Studies) and the third under
                        construction Institute
                        Oncology has more than 600 scientific departments, comprising 5,000 PhD faculty members and
                        about 2,500 assistant teachers
                        Muaid is headquartered in Zagazig, the capital of Sharkia governorate
                        ahmed orabi Free Membership.
                    </p>
                    <button class="btn">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>