<div class="tasks-page">
    <div class="my-tasks">
        <div class="tasks-head">
            <h1>My Tasks</h1>
            <a href="">SEE ALL</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Task name</th>
                        <th>Coure name</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active-task">
                        <td>Task 1 - Introduction to math</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>10–9-2019</td>
                    </tr>
                    <tr>
                        <td>Task 2 - Calculations</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>13-9-2019</td>
                    </tr>
                    <tr>
                        <td>Task 3 - Definitions and questions</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>12-11-2019</td>
                    </tr>
                    <tr>
                        <td>Task 4 - Definitions and questions</td>
                        <td>#243 The fundamental of Math 2</td>
                        <td>30-12-2019</td>
                    </tr>
                    <tr>
                        <td>Task 5 - Definitions and questions</td>
                        <td>#243 The fundamental of Math 2</td>
                        <td>1-1-2020</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="">Previous</a></li>
                <li class="page-item"><a class="page-link" href="">1</a></li>
                <li class="page-item"><a class="page-link" href="">2</a></li>
                <li class="page-item"><a class="page-link" href="">3</a></li>
                <li class="page-item"><a class="page-link" href="">Next</a></li>
            </ul>
        </div>
    </div>
</div>