<footer>
    <div class="container pb-3">
        <div class="row ">
            <!-- start of row -->
            <div class="col-md-2 col-sm-4 col-12 footer-element">
                <img src="../../../../assets/images/logo.png" alt="logo">
            </div>
            <div class="col-md-2 col-sm-4 col-6 footer-element">
                <div>
                    <h1>University</h1>
                </div>
                <div>
                    <a href="#">
                        <h3>About</h3>
                    </a>
                    <a href="#">
                        <h3>History</h3>
                    </a>
                    <a href="#">
                        <h3>Registration</h3>
                    </a>
                    <a href="#">
                        <h3>Terms of apply</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6 footer-element">
                <div>
                    <h1>Colleges</h1>
                </div>
                <div>
                    <a href="#">
                        <h3>Science</h3>
                    </a>
                    <a href="#">
                        <h3>Engineering</h3>
                    </a>
                    <a href="#">
                        <h3>Accounting</h3>
                    </a>
                    <a href="#">
                        <h3>Medicine</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6 footer-element ">
                <div>
                    <h1>Programs</h1>
                </div>
                <div>
                    <a href="#">
                        <h3>Ph.D </h3>
                    </a>
                    <a href="#">
                        <h3>Masters</h3>
                    </a>
                    <a href="#">
                        <h3>BSC</h3>
                    </a>
                    <a href="#">
                        <h3>Diplomas</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-6 footer-element footer-contact-us">
                <div>
                    <h1>Contact us</h1>
                </div>
                <div>
                    <a href="#"class="elmodarag-info">
                        <h3> info@elmodarg.com</h3>
                    </a>
                </div>
                <div class="footer-info">
                    <h6>Building 10</h6>
                    <h6>El Zagazig University</h6>
                    <h6>El Zagazig, El Sharkya</h6>
                    <h6>Egypt</h6>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-12 footer-element text-center">
                <div>
                    <h1>Follow us</h1>
                    <fa-icon [icon]="faFacebook"></fa-icon>
                    <fa-icon [icon]="faYahoo"></fa-icon>
                    <fa-icon [icon]="faSkype"></fa-icon>
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </div>
            </div>
        </div>
        <!-- end of row -->
    </div>
    <div class="copy-right">
        <div class="elmodarag-pages">
            <a href="#">University </a>
            <a href="#">Faculities </a>
            <a href="#">Programs </a>
            <a href="#">Courses </a>
            <a href="#">Contact us </a>
        </div>
        <p>© 2019 El-Modarag</p>
    </div>
</footer>