<div class="sheets-page">
    <div class="my-sheets">
        <div class="sheets-head">
            <h1>My Sheets</h1>
            <a href="">SEE ALL</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sheet name</th>
                        <th>Coure name</th>
                        <th>Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active-sheet">
                        <td>Sheet 1 - Introduction to math</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>10–9-2019</td>
                    </tr>
                    <tr>
                        <td>Sheet 2 - Calculations</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>13-9-2019</td>
                    </tr>
                    <tr>
                        <td>Sheet 3 - Definitions and questions</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>12-11-2019</td>
                    </tr>
                    <tr>
                        <td>Sheet 4 - Definitions and questions</td>
                        <td>#243 The fundamental of Math 1</td>
                        <td>15-1-2020</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="">Previous</a></li>
                <li class="page-item"><a class="page-link" href="">1</a></li>
                <li class="page-item"><a class="page-link" href="">2</a></li>
                <li class="page-item"><a class="page-link" href="">3</a></li>
                <li class="page-item"><a class="page-link" href="">Next</a></li>
            </ul>
        </div>
    </div>
</div>