<div class="course-list">
    <div class="course-top p-5">
        <div class="row">
            <div class="col-md-8">
                <div class="top-head">
                    <h1>OUR COURSES</h1>
                    <p>El-Modarag is an Offline and Online learning platfrom fucos on the
                        student of Zagazig university to help them during the studing years and
                        also after graduation from the university.</p>
                    <div class="search-course mt-5">
                        <input type="text" name="search course" placeholder="Write course name" class="search-input">
                        <button class="btn-search">search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form name="courseSearch" class="mt-5">
                    <div class="form-group">
                        <select>
                            <option value="" disabled selected hidden>Main department</option>
                            <option value="computer science">computer science</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Physics">Physics</option>
                            <option value="Math 1">math 1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select>
                            <option value="" disabled selected hidden>Sub department</option>
                            <option value="Programming">Programming</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Physics">Physics</option>
                            <option value="Math 1">Math 1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select>
                            <option value="" disabled selected hidden>Study year</option>
                            <option value="first year">first year</option>
                            <option value="seconde year">seconde year</option>
                            <option value="third year">third year</option>
                            <option value="fourth year">fourth year</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button>apply</button>
                    </div>
                </form>
            </div>
        </div><!-- end of row -->
    </div> <!-- section 1 end here -->
    <div class="course-bottom p-5">
        <div class="Dep">
            <div class="row">
                <!-- start of level -->
                <div class="col-md-2 col-6">
                    <div class=" dep-element dep-act-element">
                        <a href="">level 1</a>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="dep-element">
                        <a href="">level 2</a>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="dep-element">
                        <a href="">level 3</a>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="dep-element">
                        <a href="">level 4</a>
                    </div>
                </div>
            </div><!-- end of row -->
            <div class="course-lis mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <h1>Math1</h1>
                            </div>
                            <div class="box-top">
                                <button class="box-btn">1st year</button>
                            </div>
                            <div class="box-bottom">
                                <p>Not matter how you like to study we
                                    can help you out. From level 1 to level
                                    2 and more</p>
                            </div>
                        </div>
                    </div>

                </div><!-- end of row -->
            </div>
        </div>
    </div>
</div>