<div class="registination m-4">
    <div class="available-courses">
        <div class="available-head">
            <h1>Available Courses</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Hours</th>
                        <th>Level</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#243 The fundamental of Math 1</td>
                        <td>2 Hours</td>
                        <td>Level 1</td>
                        <td><button class="start-btn">add</button></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 2</td>
                        <td>3 Hours</td>
                        <td>Level 2</td>
                        <td><button class="start-btn">add</button></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 3</td>
                        <td>3 hours</td>
                        <td>Level 3</td>
                        <td><button class="start-btn">add</button></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 4</td>
                        <td>3 hours</td>
                        <td>Level 4</td>
                        <td><button class="start-btn">add</button></td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="">Previous</a></li>
                <li class="page-item"><a class="page-link" href="">1</a></li>
                <li class="page-item"><a class="page-link" href="">2</a></li>
                <li class="page-item"><a class="page-link" href="">3</a></li>
                <li class="page-item"><a class="page-link" href="">Next</a></li>
            </ul>
        </div>
    </div>
    <div class="registerd-courses">
        <div class="registerd-head">
            <h1>Registered Courses</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Course name</th>
                        <th>Hours</th>
                        <th>Level</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#243 The fundamental of Math 1</td>
                        <td>2 Hours</td>
                        <td>Level 1</td>
                        <td><button class="remove-btn">remove</button></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 2</td>
                        <td>3 Hours</td>
                        <td>Level 2</td>
                        <td><button class="remove-btn">remove</button></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 3</td>
                        <td>3 hours</td>
                        <td>Level 3</td>
                        <td><button class="remove-btn btn disabled">remove</button></td>
                    </tr>
                    <tr>
                        <td>#243 The fundamental of Math 4</td>
                        <td>3 hours</td>
                        <td>Level 4</td>
                        <td><button class="remove-btn btn disabled">remove</button></td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="">Previous</a></li>
                <li class="page-item"><a class="page-link" href="">1</a></li>
                <li class="page-item"><a class="page-link" href="">2</a></li>
                <li class="page-item"><a class="page-link" href="">3</a></li>
                <li class="page-item"><a class="page-link" href="">Next</a></li>
            </ul>
        </div>
    </div>
</div>