<div class="about-us">
    <div class="about-top p-5">
        <div class="top">
             <h1>ABOUT US</h1>
             <p>El-Modarag is an Offline and Online learning platfrom fucos on the
                 student of Zagazig university to help them during the studing years and
                 also after graduation from the university.</p>
        </div>
    </div>
    <div class="about-bottom p-5">
        <div class="head">
            <h1>OUR TEAM</h1>
        </div>
        <div class="row p-3" >
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <div class="box-top" >
                         <img src="../../../assets/images/slide1.png">
                    </div>
                    <div class="box-bottom">
                         <h1>Prof. Benjamin T. Lod</h1>
                         <h3>Programming</h3>
                         <h3>Faculty ofScience</h3>
                    </div>
                </div>     
            </div> <!-- end of col -->
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <div class="box-top" >
                         <img src="../../../assets/images/slide1.png">
                    </div>
                    <div class="box-bottom">
                         <h1>Prof. Benjamin T. Lod</h1>
                         <h3>Programming</h3>
                         <h3>Faculty ofScience</h3>
                    </div>
                </div>     
            </div> <!-- end of col -->
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <div class="box-top" >
                         <img src="../../../assets/images/slide1.png">
                    </div>
                    <div class="box-bottom">
                         <h1>Prof. Benjamin T. Lod</h1>
                         <h3>Programming</h3>
                         <h3>Faculty ofScience</h3>
                    </div>
                </div>     
            </div> <!-- end of col -->
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <div class="box-top" >
                         <img src="../../../assets/images/slide1.png">
                    </div>
                    <div class="box-bottom">
                         <h1>Prof. Benjamin T. Lod</h1>
                         <h3>Programming</h3>
                         <h3>Faculty ofScience</h3>
                    </div>
                </div>     
            </div> <!-- end of col -->
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <div class="box-top" >
                         <img src="../../../assets/images/slide1.png">
                    </div>
                    <div class="box-bottom">
                         <h1>Prof. Benjamin T. Lod</h1>
                         <h3>Programming</h3>
                         <h3>Faculty ofScience</h3>
                    </div>
                </div>     
            </div> <!-- end of col -->
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <div class="box-top" >
                         <img src="../../../assets/images/slide1.png">
                    </div>
                    <div class="box-bottom">
                         <h1>Prof. Benjamin T. Lod</h1>
                         <h3>Programming</h3>
                         <h3>Faculty ofScience</h3>
                    </div>
                </div>     
            </div> <!-- end of col -->           
        </div><!-- end of row -->
    </div>
</div>