<div class="container-slider">
    <!-- Start Top Image -->
    <div class="slider-image">
        <div class="overlay"></div>
        <img src="../../../../assets/images/slide3.png" class="img-fluid image-responsive" alt="Responsive image" />
        <div class="slider-text">
            <div class="container">
                <h1>
                    El-Modarag, Online Communication Is Easy
                    <p class="mt-3">
                        El-modarag Is Online learning Platform foucs on student <br>
                        in zagzaig university to Communication between Student and doctor to Help them <br>
                        during the studing and also after graduate
                    </p>
                </h1>
            </div>
        </div>
    </div>
</div>
