<div class="contact-us">
    <div class="contact-top p-5">
        <div class="top"> 
             <h1>CONTACT US</h1>
             <p>El-Modarag is an Offline and Online learning platfrom fucos on the
                 student of Zagazig university to help them during the studing years and
                 also after graduation from the university.</p>
        </div>
    </div>
    <div class="contact-bottom pb-5">
        <div class="head p-5">
            <h1>CONTACT EL-MODARAG</h1>
        </div> 
        <div class="container">
          <form name="contact-us" class="pt-1 pb-5">
              <div class="row form-group">
                  <div class="col-md-6 form-element">
                     <input type="text" name="first name" placeholder="First name" class="form-input" >
                  </div>
                  <div class="col-md-6 form-element">
                     <input type="text" name="last name" placeholder="Last name" class="form-input" >
                  </div>
                  <div class="col-md-6 form-element">
                     <input type="text" name="email" placeholder="Email" class="form-input" >
                  </div>
                  <div class="col-md-6 form-element">
                     <input type="text" name="phone number" placeholder="phone number" class="form-input" >
                  </div>
                  <div class="col-md-12 form-element">
                     <textarea name="message"  cols="30" rows="10" placeholder="Message" class="form-textarea"></textarea>
                  </div>
                  <div class="col-md-12 form-element contain-btn mt-5">
                      <button class="form-btn">send message</button>
                  </div>
              </div>
          </form>
        </div>
    </div>
</div>