<div class="department-list">
    <div class="department-top p-5">
        <div class="row">
            <div class="col-md-8">
                <div class="top-head">
                    <h1>OUR DEPAERMENTS</h1>
                    <p>El-Modarag is an Offline and Online learning platfrom fucos on the
                        student of Zagazig university to help them during the studing years and
                        also after graduation from the university.</p>
                    <div class="search-department mt-5">
                        <input type="text" name="search department" placeholder="Write department name "
                            class="search-input">
                        <button class="btn-search">search</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form name="departmentSearch" class="mt-5">
                    <div class="form-group">
                        <select>
                            <option value="" disabled selected hidden>Faculty</option>
                            <option value="science">science</option>
                            <option value="Medicine">Medicine</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Art">Art</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button>apply</button>
                    </div>
                </form>
            </div>
        </div><!-- end of row -->
    </div> <!-- section 1 end here -->
    <div class="department-bottom p-5">
        <div class="Dep">
            <div class="row">
                <div class="col-md-2">
                    <div class="dep-act-element">
                        <a href="#">science</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dep-element">
                        <a href="#">Engineering</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dep-element">
                        <a href="#">Medicine</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="dep-element">
                        <a href="#">Computer Science</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dep-element">
                        <a href="#">Art</a>
                    </div>
                </div>
                <!-- start of level -->
                <div class="col-md-2">
                    <div class="dep-act-element">
                        <a href="#">Department 1</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dep-element">
                        <a href="#">Department 2</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dep-element">
                        <a href="#">Department 3</a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="dep-element">
                        <a href="#">Department 4</a>
                    </div>
                </div>
            </div><!-- end of row -->
            <div class="department-lis mt-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn" [routerLink]="['/departments', 1]">learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn">learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn" [routerLink]="['/departments', 1]">learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn" [routerLink]="['/departments', 1]">learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn" [routerLink]="['/departments', 1]">learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn" [routerLink]="['/departments', 1]">learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn" [routerLink]="['/departments', 1]">learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn" [routerLink]="['/departments', 1]">learn more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-head">
                                <img src="../../../../assets/images/slide2.png">
                            </div>
                            <div class="box-info p-3">
                                <div class="box-top">
                                    <h1>Ph.D</h1>
                                </div>
                                <div class="box-bottom">
                                    <p>A Doctor of Philosophy (PhD, Ph.D., or
                                        DPhil; Latin philosophiae doctor or
                                        doctor philosophiae)…</p>
                                </div>
                            </div>
                            <div class="box-button">
                                <button class="box-btn" [routerLink]="['/departments', 1]">learn more</button>
                            </div>
                        </div>
                    </div>
                </div><!-- end of row -->
            </div>
        </div>
    </div>
</div>